
<div class=row>
  <div class=col-sm-12>
    <nav>
      <button class="btn btn-lg btn-default"><strong>List</strong></button>
      <button class="btn btn-lg btn-default" (click)=addPlayer()>Add Player</button>
    </nav>
    <hr>
  </div>
</div>

<div class=row>
  <div class=col-sm-12>
    <h4 *ngIf="players.length === 0" class=text-center>No players added</h4>
    <table class="table table-striped" *ngIf="players.length > 0">
      <thead>
        <tr>
          <td><strong>Player Name</strong></td>
          <td><strong>Preferred Position</strong></td>
          <td><strong>Actions</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td><button class="btn btn-sm btn-danger" (click)="delete(player._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>